# Ignorar diretórios e arquivos do Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar arquivos de configuração do IntelliJ IDEA e VS Code
.idea/
.vscode/

# Ignorar arquivos compilados do Java
*.class
*.log
.mtj.tmp/

# Ignorar arquivos empacotados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
